html {
  height: 100vh;
}

body {
  background-color: #66ccff;
  height: 100vh;

  font-size: calc(0.75vw + 0.75vh + 0.3333vmin);
}

h1 {
  font-size: 250%;
  font-variant: small-caps;
}

label {
  margin: 0px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: -40px;
  margin-right: 0px;
}

.messages {
  height: 60vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.animateChild {
  margin-left: 10px;
  transition: margin-left 0.5s;
}

.animateParent:hover .animateChild {
  margin-left: 0px;
}

.form-group
{
  margin-bottom: .25rem;
}
